body{
    background-image: url(../assets/images/background.jpg)
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

#pokemon-container{
    background-color: whitesmoke;
    border-radius: 20px;
    height: auto;
    list-style-type: none;
    margin: auto;
    text-align: center;
    width: 50%;
    
}

#bottom-pokemon-info{
    list-style-type: none;
}
    
